.row-fuild
  h2.span2.input rename as: 
  input.span12.path(type="text", value= basename)
.row-fluid
  .btn.executeBtn execute
  .btn.cancelBtn cancel
.row-fluid
  h1.span12 Files related
.row-fluid
  .span12.files Loading...
.row-fluid
  h3.span12.selectedFilePath
.row-fuild
  pre.selectedFilecontents.span12
