.row-fluid
  .span3.btn.targetFileBtn= model.get("name")
  .row-fluid
    h1.span12 Files related
  .row-fluid
    .span12.files Loading...
  .row-fluid
    h3.span12.selectedFilePath
  .row-fuild
    pre.selectedFilecontents.span12
  .row-fluid time: <span class="time">N/A</span>