.row-fluid
  .span3.btn.targetFileBtn= model.get("moved_node").nodeName
  .span3= model.get("position")
  .span3= model.get("target_node").nodeName
  .span3
    .btn.executeBtn execute
    .btn.cancelBtn cancel
  .row-fuild
    h2.span2.input save as:
    input.span12.filename(type="text", value= model.get("moved_node").nodeName)
  .row-fluid
    h1.span12 Files involved
  .row-fluid
    .span12.files Loading...
  .row-fluid
    h3.span12.selectedFilePath
  .row-fuild
    pre.selectedFilecontents.span12