.navbar
  .nav-inner
    h1 Refractor
    span.info #{model.get("cwd")}
- if(model.get("git").status.indexOf("nothing to commit") === -1)
  .row-fluid
    .span12.alert You have <b> changes to commit </b>
.row-fluid
  .span12
    .btn.updateBtn Update
.row-fluid
  .span4.treeview
  .span8.actionRequest